:root {
    --rich-black: #000F11;
    --dark-green: #022321;
    --bangladesh-green: #006A4C;
    --mountain-meadow: #2CC98D;
    --caribbean-green: #00FF91;
    --anti-flash-white: #F8F8F6;
  
    --pine: #064D39;
    --basil: #08613A;
    --forest: #095546;
    --frog: #17A360;
    --mint: #2FAB86;
    --stone: #707070;
    --pistachio: #A6CBB4;
  }