
.card {
  width: 400px; 
  padding: 20px;
  border-radius: 16px; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  background-color: var(--pine); 
  position: relative;
  margin: 20px auto; 
  color: #fff; 
}


.card-header {
  margin-bottom: 20px;
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.horario {
  font-size: 0.875rem;
  color: var(--anti-flash-white);
  margin: 0;
}

.notes-container {
  display: flex;
  flex-direction: column; 
  max-height: 600px; 
  overflow-y: auto; 
  overflow-x: hidden; 
}


.notes-container::-webkit-scrollbar {
  width: 8px; 
  margin-left: 50px;
}

.notes-container::-webkit-scrollbar-thumb {
  background-color: #3acd64; 
  border-radius: 10px;
}

.notes-container::-webkit-scrollbar-thumb:hover {
  background-color: #13775d; 
}
