.noteBox-container {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 16px; 
    padding: 20px; 
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); 
    background-color: var(--dark-green);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noteBox-container section {
    display: flex;
    flex-direction: column;
    color: white;
}

.noteBox-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.noteBox-container p {
    font-size: 14px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.8);
}

.checkBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

